body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#08122b;
color:white;
text-align:center;
}

.hero{
padding:100px 20px;
max-width:900px;
margin:auto;
}

.logo{
width:360px;
margin-bottom:30px;
}

h1{
font-size:60px;
color:#ff4a4a;
margin-bottom:10px;
}

.subtitle{
font-size:22px;
color:#cbd5e1;
margin-bottom:10px;
}

.description{
font-size:18px;
color:#94a3b8;
margin-bottom:40px;
}

.buttons{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-bottom:20px;
}

.primary{
background:#22c55e;
color:black;
padding:16px 36px;
border-radius:10px;
font-weight:bold;
text-decoration:none;
}

.secondary{
background:#1e293b;
color:white;
padding:16px 36px;
border-radius:10px;
text-decoration:none;
}

.coming{
margin-top:20px;
font-size:14px;
color:#94a3b8;
letter-spacing:2px;
}

.event{
margin:30px 0;
font-size:18px;
color:#cbd5e1;
}

.note{
margin-top:20px;
font-size:14px;
color:#94a3b8;
}

.photo-section{
max-width:1000px;
margin:auto;
margin-top:40px;
}

.photo{
width:100%;
border-radius:12px;
}

.features{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
max-width:1000px;
margin:80px auto;
}

.feature{
background:#1e293b;
padding:30px;
border-radius:12px;
width:250px;
}

.feature h3{
color:#ff4a4a;
margin-bottom:10px;
}
